.tabs {
    font-size: 0.6em;
    position: absolute;
    right: 270px;
    top: 3px;
}

.tab {
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px;
  width: 80px;
  display: inline-block;
  text-align: center;
  background: silver;
}

.tab:hover {
  cursor: pointer;
}

.tab.active:hover {
  cursor: auto;
}

.orderby {
    font-size: 0.6em;
    position: absolute;
    right: 15px;
    top: 3px;
}

.order-button {
    border: 1px solid white;
    border-radius: 6px;
    padding: 2px;
    width: 50px;
    display: inline-block;
    text-align: center;
    background: silver;
}

.order-button:hover {
  cursor: pointer;
}

.order-button.active:hover {
  cursor: auto;
}

.votes {
    position: absolute;
    top: 15px;
    left: 15px;
    color: silver;
    background: #eee;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    cursor: pointer;
}

.votes:hover {
  border: 1px solid #cbcbcb;
}

li:hover .votes {
    display: block;
}

.active {
    background: #d4f6ff;
}

.loading {
    pointer-events: none;
    cursor: auto;
    border: 2px dotted gray;
}

.disabled {
    pointer-events: none;
    background: #6a1a7a;
    cursor: auto;
}

#header {
    background: silver none repeat scroll 0% 0%;
    padding: 20px;
    border-radius: 12px;
}

.logo {
    font-family: monospace;
    color: white;
    font-size: 3em;
    margin-right: 20px;
}

#dev-info {
    margin: 20px;
    border: 1px solid gray;
    background: #F5E8A2;
    padding: 5px;
}

#quote-box {
    background: #C0C0C0 none repeat scroll 0% 0%;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.1em;
    max-width: 600px;
}

#quote-box p {
    background: #DDD none repeat scroll 0% 0%;
    padding: 10px;
    border: 1px solid #808080;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#quote-box input[type="button"] {
    width: 100px;
}

#input-body {
    height: 80px;
}

h2 {
    background: #CDAEF9;
    border: 3px solid #C79EED;
    border-radius: 16px;
    padding-left: 15px;
    position: relative;
}

#shutter {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  opacity: 0.5;
  z-index: 100;
}

.user-box-outer {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  background: #eee;
  border: 3px solid gray;
  z-index: 101;
  padding: 15px;
}

.user-box {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

#quotes {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: outside none none;
    background: white none repeat scroll 0% 0%;
    font-family: sans-serif;
    box-shadow: 0px 0px 3px gray;
    margin: 10px;
    padding: 50px;
    width: 350px;
    position: relative;
}

li .quote {
  font-size: 1.5em;
}

li .byline {
    font-size: 1em;
    color: #C0C0C0;
    display: block;
    bottom: 15px;
    position: absolute;
}

li .author {
    display: none;
    position: absolute;
    top: 15px;
    right: 40px;
    color: silver;
}

li .author:hover {
    cursor: pointer;
}

li:hover .author {
    display: block;
}
